.App {
  width: 100%;
}

.nav-bar-div {
  position: sticky;
  top: 0;
  background-color: black;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 3rem;
}

.nav-bar-link {
  color: white;
  margin: 0 0.5rem;
  cursor: pointer;
  font-size: 0.5rem;
}

.main-img {
  width: 100%;
  display: block;
}

@media only screen and (min-width: 600px) {
  .nav-bar-link {
    color: white;
    font-size: 1rem;
    margin: 0 1rem;
    cursor: pointer;
  }
}