/* APP */
.App {
  width: 100%;
}

/* NAVIGATION BAR */
.nav-bar-div {
  position: sticky;
  top: 0;
  background-color: black;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 3rem;
  z-index: 1;
}

.nav-bar-link {
  color: white;
  margin: 0 0.25rem;
  cursor: pointer;
  font-size: 0.5rem;
}

/* MAIN */
.main-img {
  width: 100%;
  display: block;
}

/* STORY */
.story-img {
  width: 100%;
  display: block;
}

.story-fox-img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.story-arrow {
  width: 1rem;
  margin: 0 auto;
  position: absolute;
  left: calc(50% - .8rem);
  bottom: .7rem;
  cursor: pointer;
}

.story-cover-div {
  background-color: transparent;
  color: aliceblue;
}

.ReactCollapse--collapse {
  height: 10rem;
  transition: height 1000ms;
}

/* NFT */
.nft-background-img-div {
  position: relative;
  justify-content: center;
  align-items: center;
}

.nft-background-img {
  width: 100%;
  display: block;
}

.slick-slider {
  background-color: black;
  position: absolute;
  top: -13rem;
  height: 0;
}

.go-to-opensea-btn {
  position: absolute;
  display: block;
  bottom: 1.5rem;
  left: calc(50% - 4rem);
  width: 8rem;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .nav-bar-link {
    color: white;
    font-size: 1rem;
    margin: 0 1rem;
    cursor: pointer;
  }

  .story-arrow {
    width: 5%;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 3.6%);
    bottom: 1.4rem;
  }

  .slick-slider {
    top: -68rem;
  }
  
  .go-to-opensea-btn {
    bottom: 10.5rem;
    left: calc(50% - 11rem);
    width: 22rem;
  }
}

/* Minting */
.kaikas-logo {
  width: 1rem;
}

.kaikas-wallet-address {
  display: inline-block;
}