@font-face {
  font-family: "pbio";
  src: url(./fonts/pbio-bold\ OTF.otf);
}
@font-face {
  font-family: "pretendard";
  src: url(./fonts/Pretendard-Regular.otf);
}
@font-face {
  font-family: "esamanru";
  src: url(./fonts/esamanru_Bold.otf);
}
@font-face {
  font-family: "esamanruM";
  src: url(./fonts/esamanru_Medium.otf);
}

/* APP */
.App {
  width: 100%;
  background-color: black;
}

/* NAVIGATION BAR */
.nav-bar-div {
  position: sticky;
  top: 0;
  background-color: black;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 3rem;
  z-index: 1;
  font-family: 'pbio';
}

.nav-bar-link {
  color: white;
  margin: 0 0.25rem;
  cursor: pointer;
  font-size: 0.5rem;
}

/* MAIN */

.main-div {
  position: relative;
  text-align: center;
}

.main-title {
  top: 2rem;
  font-size: 1rem;
  position: absolute;
  color: white;
  font-family: 'esamanru';
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 230px;
}

.main-subtitle {
  font-size: 0.7rem;
  position: absolute;
  color: white;
  top: 4rem;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 170px;
  font-weight: bold;
}

.main-subtitle-bold {
  font-size: 1rem;
  display: inline;
  font-family: 'esamanru';
  color: #d04c4c;
}

.main-background {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.main-fox {
  width: 100%;
  position: absolute;
  bottom: 0rem;
}

/* STORY */

.story-img {
  /* width: 100%; */
  height: 15rem;
  display: block;
}

.story-title {
  color: white;
  width: 100%;
  top: 4rem;
  font-size: 1.2rem;
  position: absolute;
  color: white;
  font-family: 'esamanru';
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
}

.story-comment-top {
  color: white;
  width: 50%;
  top: 8rem;
  font-size: 0.6rem;
  position: absolute;
  color: white;
  font-family: 'pretendard';
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
}

.story-comment-bottom {
  color: white;
  width: 50%;
  bottom: 1rem;
  font-size: 0.6rem;
  position: relative;
  color: white;
  font-family: 'pretendard';
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
}

.story-fox-img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.story-arrow {
  width: 1rem;
  margin: 0 auto;
  position: absolute;
  left: calc(50% - .8rem);
  bottom: .7rem;
  cursor: pointer;
}

.story-cover-div {
  background-color: transparent;
  color: aliceblue;
}

.ReactCollapse--collapse {
  height: 200px;
  transition: height 1000ms;
}

/* NFT */
.nft-title {
  font-size: 0.7rem;
  position: absolute;
  color: white;
  top: 5rem;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 90px;
  font-weight: bold;
  font-family: 'esamanru';
}

.nft-title-bold {
  font-size: 1rem;
  display: inline;
  color: #d04c4c;
}
.nft-background-img-div {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.nft-background-img {
  width: 100%;
  height: 22rem;
  display: block;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translate(calc(-250px * 7));
  }
}

.nft-slider {
  top: 8rem;
  margin: auto;
  overflow: hidden;
  position: absolute;
  width: auto;
}

.nft-slider .nft-slider-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.nft-slide-img {
  width: 8rem;
}

.go-to-opensea-btn {
  position: absolute;
  display: block;
  bottom: 1.5rem;
  left: calc(50% - 4rem);
  width: 8rem;
  margin: 0 auto;
}

/* ROADMAP */
.roadmap-img {
  width: 100%;
}

.roadmap-div {
  /* width: 100%; */
  height: 55rem;
}

.roadmap-background-container {
  position: relative; 
  margin: 0 auto;
  background:url(./images/roadmap-background.png) no-repeat center center;
  background-size:cover;
  /* width:100%; */
  height:55rem;
  text-align: center;
  overflow: hidden;
}

.roadmap-title {
  color: white;
  font-family: 'esamanru';
  font-size: 1rem;
  position: absolute;
  top: 5rem;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: fit-content;
  font-weight: bold;
}

.roadmap-title-bold {
  color: #d04c4c;
}

.roadmap-contents {
  position: absolute;
  top: 8rem;
  left: 20%;
  width: 60%;
}

/* TEAM */
.team-img {
  width: 100%;
}

.team-div {
  width: 100%;
  height: 15rem;
  position: relative;
  text-align: center;
}

.team-background {
  width: 100%;
  /* height: 15rem; */
  object-fit: cover;
}

.team-contents {
  left: 15%;
  width: 70%;
  position: absolute;
  top: 15rem;
}

.team-background-container {
  position: relative; 
  margin: 0 auto;
  background:url(./images/team-background.png) no-repeat center center;
  background-size:cover;
  width:100%;
  height:50rem;
  text-align: center;
  overflow: hidden;
}

.team-title {
  color: white;
  font-family: 'esamanru';
  font-size: 1.3rem;
  position: absolute;
  top: 6rem;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px;
  font-weight: bold;
}

.team-title-bold {
  font-size: 1.5rem;
  color: #d04c4c;
}

@media only screen and (min-width: 480px) {
  .main-title {
    font-size: 1.3rem;
    width: 300px;
    top: 2.5rem;
  }
  .main-subtitle {
    font-size: 1rem;
    width: 210px;
    top: 5rem
  }
  .main-subtitle-bold {
    font-size: 1.3rem;
  }
  .main-background {
    height: 20rem;
  }

  .story-title {
    font-size: 1.5rem;
  }

  .story-img {
    width: 100%;
    height: 20rem;
  }

  .story-comment-top, .story-comment-bottom {
    width: 65%;
    font-size: 0.9rem;
  }

  .nft-title {
    font-size: 1.5rem;
    width: 170px;
    top: 4.5rem
  }

  .nft-title-bold {
    font-size: 2rem;
  }

  .nft-background-img {
    height: 25rem;
  }

  .nft-slider {
    top: 10rem;
  }

  .go-to-opensea-btn {
    left: calc(50% - 6rem);
    width: 12rem;
  }

  .roadmap-div {
    height: 80rem;
  }

  .roadmap-background-container {
    height: 80rem;
  }

  .roadmap-title {
    top: 8rem;
    font-size: 1.5rem;
  }

  .roadmap-contents {
    top: 13rem;
    left: 20%;
    width: 60%;
  }

  .team-title {
    font-size: 1.6rem;
  }

  .team-title-bold {
    font-size: 1.9rem;
  }
}

@media only screen and (min-width: 768px) {
  .main-title {
    font-size: 1.8rem;
    width: 415px;
    top: 3.5rem;
  }
  .main-subtitle {
    font-size: 1.4rem;
    width: 300px;
    top: 7rem;
  }
  .main-subtitle-bold {
    font-size: 1.8rem;
  }

  .main-fox {
    width: 70%;
    margin: 0 15%;
  }
  .main-background {
    height: 24rem;
  }

  .story-title {
    font-size: 1.8rem;
  }

  .story-img {
    height: 21rem;
  }

  .story-comment-top, .story-comment-bottom {
    font-size: 1rem;
  }

  .story-fox-img {
    width: 70%;
    margin: 0 15%;
  }

  .nft-title {
    font-size: 2.5rem;
    width: 260px;
    top: 5.5rem
  }

  .nft-title-bold {
    font-size: 3rem;
  }

  .nft-background-img {
    height: 34rem;
  }

  .nav-bar-link {
    color: white;
    font-size: 1rem;
    margin: 0 1rem;
    cursor: pointer;
  }

  .story-arrow {
    width: 5%;
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 3.6%);
    bottom: 1.4rem;
  }

  .nft-slider {
    top: 12rem;
  }

  .nft-slide-img {
    width: 12rem;
  }

  .slick-slider {
    top: -23rem;
  }
  
  .go-to-opensea-btn {
    bottom: 3.5rem;
    left: calc(50% - 9rem);
    width: 18rem;
  }

  .roadmap-div {
    height: 120rem;
  }

  .roadmap-background-container {
    height: 120rem;
  }

  .roadmap-title {
    font-size: 2rem;
  }

  .roadmap-contents {
    top: 15rem;
  }

  .team-title {
    width: 190px;
    top: 9rem;
    font-size: 2rem;
  }

  .team-title-bold {
    font-size: 2.4rem;
  }

  .team-contents {
    top: 25rem;
  }
}

@media only screen and (min-width: 1024px) {
  .main-title {
    font-size: 2.5rem;
    width: 580px;
    top: 5.5rem;
  }
  .main-subtitle {
    font-size: 2rem;
    width: 410px;
    top: 10rem;
  }
  .main-subtitle-bold {
    font-size: 2.5rem;
  }

  .main-fox {
    width: 70%;
    margin: 0 15%;
  }

  .main-background {
    height: 33rem;
  }

  .story-title {
    font-size: 2.5rem;
    top: 8rem;
  }

  .story-img {
    height: 32rem;
  }

  .story-comment-top, .story-comment-bottom {
    width: 75%;
    font-size: 1.4rem;
  }

  .story-comment-top {
    top: 15rem;
  }

  .story-comment-bottom {
    bottom: 2rem;
  }

  .story-fox-img {
    width: 70%;
    margin: 0 15%;
  }

  .nft-title {
    font-size: 2.7rem;
    width: 280px;
    top: 5.5rem
  }

  .nft-title-bold {
    font-size: 3.3rem;
  }

  .nft-background-img {
    height: 43rem;
  }

  .nft-slider {
    top: 14rem;
  }

  .nft-slide-img {
    width: 17rem;
  }
  
  .go-to-opensea-btn {
    bottom: 4.5rem;
    left: calc(50% - 9rem);
    width: 18rem;
  }

  .roadmap-div {
    height: 80rem;
  }

  .roadmap-background-container {
    height: 80rem;
  }

  .roadmap-title {
    font-size: 3.5rem;
  }

  .roadmap-contents {
    top: 17rem;
  }

  .roadmap-contents {
    left: 15%;
    width: 70%;
  }

  .team-title {
    top: 7rem;
    font-size: 2.3rem;
    width: 200px;
  }

  .team-title-bold {
    font-size: 2.7rem;
  }
}

@media only screen and (min-width: 1200px) {
  .main-title {
    font-size: 3rem;
    width: 690px;
    top: 6.5rem;
  }
  .main-subtitle {
    font-size: 2.5rem;
    width: 490px;
    top: 13rem;
  }
  .main-subtitle-bold {
    font-size: 3rem;
  }

  .main-fox {
    width: 70%;
    margin: 0 15%;
  }

  .main-background {
    height: 50rem;
  }

  .story-title {
    font-size: 3rem;
    top: 11rem;
  }

  .story-img {
    height: 35rem;
  }

  .story-comment-top, .story-comment-bottom {
    font-size: 1.5rem;
  }

  .story-comment-top {
    top: 19rem;
  }

  .story-fox-img {
    width: 70%;
    margin: 0 15%;
  }

  .nft-title {
    font-size: 3.3rem;
    width: 350px;
    top: 6.5rem
  }

  .nft-title-bold {
    font-size: 4rem;
  }

  .nft-background-img {
    height: 53rem;
  }

  .nft-slider {
    top: 16rem;
  }

  .nft-slide-img {
    width: 22rem;
  }

  .slick-slider {
    top: -37rem;
  }
  
  .go-to-opensea-btn {
    bottom: 5.5rem;
    left: calc(50% - 9rem);
    width: 18rem;
  }

  .roadmap-div {
    height: 95rem;
  }

  .roadmap-background-container {
    height: 95rem;
  }

  .roadmap-title {
    font-size: 3.5rem;
  }

  .roadmap-contents {
    top: 17rem;
  }

  .roadmap-contents {
    left: 22%;
    width: 58%;
  }
}

/* Minting */
.kaikas-logo {
  width: 1rem;
}

.kaikas-wallet-address {
  display: inline-block;
}