@font-face {
    font-family: "pretendard";
    src: url(./fonts/Pretendard-Regular.otf);
}
:root {
    --contents-bg-color: #282828;
    --red-point-color:#d04c4c;
    --title-font: "pretendard", "Noto Sans";
    --point-pink: #ffabae
}
/* Minting */
.minting-background-div {
    height: 880px;
    background-color: black;
    color: white;
}

/* HEADER */
.minting-header-div {
    align-items: center;
    padding: 1rem 0;
    margin: 0 5%;
}
.minting-header-wfc, .minting-header-wallet {
    vertical-align: middle;
    display: inline-block;
    width: 50%;
}

.minting-header-wfc-inner-div {
    width: fit-content;
    margin: 0 auto;
}

.wfc-logo {
    width: 0.7rem;
}

.wfc-name {
    vertical-align: middle;
    display: inline-block;
    font-size: 0.7rem;
}
.minting-header-wallet-button {
    width: 10rem;
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    height: 32px;
    border-color: white;
    border-style: solid;
}

.kaikas-logo {
    width: 0.8rem;
    position: relative;
    top:10%;
}

.kaikas-wallet-address,
.minting-header-wallet-comment {
    font-size: 0.8rem;
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
}

/* BLOCK NUMBER */
.minting-blocknumber-div {
    font-family: "pretendard";
    font-weight: bolder;
    position: relative;
    text-align: center;
    width: 90%;
    margin: 0 5%;
}

.minting-blocknumber-title-div {
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: var(--contents-bg-color);
    height: 1.5rem;
    border: 0.1rem solid var(--point-pink);
    border-radius: 3rem;
    font-size: 1rem;
}

.minting-blocknumber-title-div > p {
    font-size: larger;
    margin-block-start: 0%;
    margin-block-end: 0;
}

.minting-blocknumber-title-bold {
    color: var(--red-point-color);
}

.minting-blocknumber-contents-div {
    background-color: var(--contents-bg-color);
    border: 0.1rem solid var(--point-pink);
    border-top: none;
    position: absolute;
    width: 100%;
    top: 1rem;
    border-radius: 0.3rem;
}

.minting-blocknumber-contents-upper-div {
    height: 6.5rem;
    width: 80%;
    margin: 0 10%;
    border-bottom: 0.1rem solid var(--point-pink);
}

.minting-blocknumber-contents-upper-number-div,
.minting-blocknumber-contents-bottom-number-div {
    width: 65%;
    margin: 1rem auto 0;
    background-color: black;
    height: 2.5rem;
    border-radius: 5rem;
}

.minting-blocknumber-contents-upper-number,
.minting-blocknumber-contents-bottom-number {
    margin-block-start: 0;
    margin-block-end: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: larger;
}

.minting-blocknumber-contents-upper-number {
    color: #ffe17f;
}

.minting-blocknumber-contents-upper-title,
.minting-blocknumber-contents-bottom-title {
    margin-block-start: 2.5rem;
    margin-block-end: 0;
}

.minting-blocknumber-contents-bottom-div {
    height: 6.5rem;
    width: 80%;
    margin: 0 10%;
}

.minting-blocknumber-under-div {
    height: 20.5rem;
}

/* INFO */
.minting-info-div {
    background-color: var(--contents-bg-color);
    border: 0.1rem solid var(--point-pink);
    position: relative;
    font-family: "pretendard";
    font-weight: bolder;
    text-align: center;
    width: 90%;
    margin: 0 5% 2rem;
    border-radius: 0.3rem;
}

.minting-info-div-one,
.minting-info-div-two,
.minting-info-div-three {
    height: 1.8rem;
    border-radius: 1rem;
    background-color: #3d3d3d;
    margin: 1rem 5%;
    position: relative;
}

.minting-info-div-one-left,
.minting-info-div-two-left,
.minting-info-div-three-left {
    background-color: black;
    position: absolute;
    height: 1.8rem;
    margin: 0 auto;
    border-radius: 1rem;
    width: 65%;
    text-align: center;
}

.minting-info-div-two-left {
    width: 30%;
}

.minting-info-div-three-left {
    width: 50%;
}

.minting-info-div-one-left-title,
.minting-info-div-two-left-title,
.minting-info-div-three-left-title {
    position: relative;
    width: 100%;
    margin: 0.35rem auto 0;
}

.minting-info-div-one-right,
.minting-info-div-two-right,
.minting-info-div-three-right {
    position: absolute;
    color: white;
    margin-block-start: 0.35rem;
    margin-block-end: 0;
    text-align: right;
    width: calc(90%);
}

.minting-info-div-two-right {
    width: 75%;
    font-weight: bolder;
}

.minting-info-div-three-right {
    width: 85%;
    font-weight: lighter;
}

.minting-info-kalytn-logo {
    height: 0.8rem;
}

/* AMOUNT */
.minting-amount-div {
    width: 90%;
    margin: 0 5% 2rem;
    font-family: 'pretendard';
    font-weight: bolder;
}

.minting-amount-left-div {
    display: block;
}

.minting-amount-progressbar {
    width: 100%;
    direction: rtl;
    border: 0.05rem solid white;
    border-radius: 0.5rem;
    height: 0.7rem;
}

progress {
    background-color: black;
    
}

progress::-webkit-progress-bar {
    background-color: black;
    
}

progress::-webkit-progress-value {
    background-color: var(--point-pink);
}

progress::-moz-progress-bar {
    background-color: black;
    
}

.minting-amount-total {
    float: left;
    margin-block-start: 0.5rem;
    margin-block-end: 0;
}

.minting-amount-left {
    float: right;
    color: #ffe17f;
    margin-block-start: 0.5rem;
    margin-block-end: 0;
}

.minting-amount-control-div {
    padding: 3rem;
    margin: 0 auto;
    position: relative;
    font-size: 2.5rem;
}

.minting-amount-control-number {
    left: 15%;
    position: absolute;
    width: 70%;
    text-align: center;
    margin-top: -0.2rem;
}

.minting-amount-control-button-minus {
    height: 3rem;
    background-color: #3d3d3d;
    width: 3rem;
    left: 0;
    position: absolute;
    text-align: center;
    border-radius: 0.7rem;
    cursor: pointer;
}

.minting-amount-control-button-plus {
    height: 3rem;
    background-color: #3d3d3d;
    width: 3rem;
    right: 0;
    position: absolute;
    text-align: center;
    border-radius: 0.7rem;
    cursor: pointer;
}

.minting-amount-control-button-plus > p,
.minting-amount-control-button-minus > p {
    margin-block-start: -0.2rem;
    margin-block-end: 0;
}

/* Minting Button */
.minting-button-div {
    width: 90%;
    margin: 0 5% 2rem;
    border-radius: 2rem;
    background: linear-gradient(to right, var(--point-pink), #ffc0a9);
    height: 4rem;
}

.minting-button-text {
    text-align: center;
    padding-top: 1rem;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'pretendard';
    font-weight: bolder;
    font-size: 1.5rem;
}