@font-face {
    font-family: "pretendard";
    src: url(./fonts/Pretendard-Regular.otf);
}
/* Minting */
.minting-background-div {
    height: 100vh;
    background-color: black;
    color: white;
}

.kaikas-wallet-address {
    display: inline-block;
}

/* HEADER */
.minting-header-div {
    align-items: center;
    padding: 1rem 0;
    margin: 0 5%;
}
.minting-header-wfc, .minting-header-wallet {
    vertical-align: middle;
    display: inline-block;
    width: 50%;
}

.minting-header-wfc-inner-div {
    width: fit-content;
    margin: 0 auto;
}

.wfc-logo {
    width: 0.7rem;
}

.wfc-name {
    vertical-align: middle;
    display: inline-block;
    font-size: 0.7rem;
}
.minting-header-wallet-button {
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
    background-color: black;
    color: white;
    border-radius: 1.5rem;
    height: 32px;
    border-color: white;
    border-style: solid;
}

.kaikas-logo {
    width: 0.8rem;
    position: relative;
    top:10%;
}

.minting-header-wallet-comment {
    
    font-size: 0.5rem;
    display: inline-block;
}

/* BLOCK NUMBER */
.minting-blocknumber-div {
    font-family: "pretendard";
    font-weight: bolder;
    position: relative;
    text-align: center;
    width: 90%;
    margin: 0 5%;
}

.minting-blocknumber-title-div {
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: grey;
    height: 1.5rem;
    border: 0.1rem solid pink;
    border-radius: 3rem;
    font-size: 1rem;
}

.minting-blocknumber-title-div > p {
    font-size: larger;
    margin-block-start: 0%;
    margin-block-end: 0;
}

.minting-blocknumber-title-bold {
    color: #d04c4c;
}

.minting-blocknumber-contents-div {
    background-color: grey;
    border: 0.1rem solid pink;
    border-top: none;
    position: absolute;
    width: 100%;
    top: 1rem;
}

.minting-blocknumber-contents-upper-div {
    height: 6.5rem;
    width: 80%;
    margin: 0 10%;
    border-bottom: 0.1rem solid pink;
}

.minting-blocknumber-contents-upper-number-div,
.minting-blocknumber-contents-bottom-number-div {
    width: 65%;
    margin: 1rem auto 0;
    background-color: black;
    height: 2.5rem;
    border-radius: 5rem;
}

.minting-blocknumber-contents-upper-number,
.minting-blocknumber-contents-bottom-number {
    margin-block-start: 0;
    margin-block-end: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: larger;
}

.minting-blocknumber-contents-upper-number {
    color: #ffe17f;
}

.minting-blocknumber-contents-upper-title,
.minting-blocknumber-contents-bottom-title {
    margin-block-start: 2.5rem;
    margin-block-end: 0;
}

.minting-blocknumber-contents-bottom-div {
    height: 6.5rem;
    width: 80%;
    margin: 0 10%;
}